/**
 * Shared styles for a basic link
 */
@mixin zb-link(
  $color: $zb-link-color,
  $hover-color: $zb-link-hover-color,
  $decoration: $zb-link-decoration,
  $hover-decoration: $zb-link-hover-decoration,
  $transition: $zb-link-transition
) {
  color: $color;
  text-decoration: $decoration;
  transition: $transition;

  &:hover,
  &:focus {
    color: $hover-color;
    text-decoration: $hover-decoration;
  }
}
